@model PRMSProject.Models.Apartment
@using System.Security.Claims

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Apartment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApartmentInterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApartmentInterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FloorNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FloorNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedroomAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedroomAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BathroomsAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BathroomsAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GarageAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GarageAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BalconyAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BalconyAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRented)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRented)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Building)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Building.BuildingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.UserFullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tenant)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tenant.UserFullName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ApartmentId">Edit</a> |
    <a asp-action="List" asp-route-id="@User.FindFirstValue(ClaimTypes.NameIdentifier)">Back to List</a>
</div>
